<header class="header">
  <div class="header-wrapper">
    <div class="header-inner">
      <div class="header-logo">
        <a class="header-logo-title" href="{% path_to home %}">
          <div class="header-icon-logo icon-logo icon-lg-logo visible-lg-block">

            <img src="{{ icon_logo_url | resize: large_resize }}" alt="{{ logo_alt }}"/>

          </div>
          <div class="header-icon-logo icon-logo icon-sm-logo hidden-lg">

            <img src="{{ icon_logo_url | resize: small_resize }}" alt="{{ logo_alt }}"/>

          </div>
        </a>
      </div>
      <div class="header-menu">
        <a href="#" class="menu-btn menu-btn-js-handle">
          <div class="min-menu-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16">
              <path fill="#CCC" d="M0 0h20v2H0zM0 7h20v2H0zM0 14h20v2H0z"></path>
            </svg>
          </div><span>{{ 'menu' | translate | strip }}</span>
        </a>
      </div>
    </div>
  </div>
</header>
