---
title: Events
listed: true
published: true
position: 2
handle: events_index
slug: events
meta_description: "Events page of the website of the Centre for the Franco-russian and Franco-chinese friendships"
---
{% extends 'layouts/simple' %}

  {% block 'content/header' %}


  {% endblock %}

  {% block content/main %}


    {% editable_model news, hint: 'some text' %}

      {% for event in contents.events %}
        <div class="row">
          <div class="col-xs-12">
            <div class="event-outer-wrapper">
              <div class="event-inner-wrapper">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-sm-9 md-10">
                      <div class="media">
                        <div class="media-left">
                          <a href="{{ path_to event }}">
                            <img class="media-object my-media-size" src="{{ project.image.url | default: 'http://loremflickr.com/100/100' | resize: '200x100#' }}" alt="{{ project.name }}">
                          </a>
                        </div>
                        <div class="media-body my-event-media-body">
                          <h2 class="media-heading my-event-media-heading">{{ event.title }}</h2>
                          <p><span class="my-event-category">{{ event.category }}</span>&nbsp;-&nbsp;<span>{{ event.main_star }}</span></p>
                          <br>
                          <p>
                            <span class="my-event-category">{{ event.location }}</span>
                             -
                            {% if event.event_start_date != "" %}
                              {{ 'from' | translate }}<span class="my-event-start-date">&nbsp;{{ event.event_start_date }}&nbsp;{{ 'to' | translate }}&nbsp;{{ event.event_end_date }}<span class="my-event-end-date"></span></p>
                            {% else %}
                              {{ "event_date" }}
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 md-2">
                      <p class="btn-container my-event-btn-container">
                        <a href="" class="btn btn-lg black-square-btn my-event-btn">
                          {{ 'read_more' | translate }}
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}


    {% endeditable_model %}

  {% endblock %}
