---
title: Home
published: true
listed: true
handle: home
meta_description: "Home page of the website of Art des Nations"
seo_title: "Home page of the website of Art des Nations"
position: 0
editable_elements:
  'content/header/header_photo_legend': "Great Chinese Wall"
  'content/header/header_photo': "chinese_great_wall.jpg"
  'content/header/main_title': "5th edition of the Ideal Standard Festival"
  'content/header/subtitle': "From May 5 to May 25, 2016"
  'content/header/call_to_action_button': "Discover the program"

  'content/featured_news/featured_news_section_title': "Actuellement"
  'content/older_news/older_news_section_title': "Mais encore"

  'content/test/first_column':
      "
      <h2>China</h2>
      <p>A multibillion people with multithousand years old history and a diverse and rich culinary culture, China has become in the recent years one of the major players in the world economy. And his military is catching up to overcome the Eastern empire.</p>
      "
  'content/test/second_column':
      "
      <h2>France</h2>
      <p>A small once-big country, that keeps a large scope of influence over African and European matters, French people love wine and sausages as well as the legendary café culture.</p>
      "
  'content/test/third_column':
      "
      <h2>Russia</h2>
      <p>Deeply rooted in the cold lands, Russia is famous for its revolutionaries, its vodka, its women, its chessplayers and its weaponry which is easily available in any part of the world for affordable prices.</p>
      "
  'content/test/featured_photo/legend': "Hermitage Museum, Saint Petersburg"
  'content/test/featured_photo/featured_photo': "saint_petersburgh_ermitage.jpg"
---



{% extends 'layouts/for-index' %}

<!-- ------------------------------------ -->




{% block content/header %}

    <!-- -------------------------------- -->

    {% comment %} Editable legend for the featured photo {% endcomment %}
    {% editable_text "Header photo legend", slug: "header_photo_legend", format: "raw", rows: 1, hint: "Text displayed in the ALT attribute." %}
    {% endeditable_text %}

    {% capture header_photo_url %}{% editable_file 'header_photo' %}{% endeditable_file %}{% endcapture %}

    {% editable_text 'Main title over the big banner', slug: "main_title", format: "raw", rows: 1, priority: 3 %}
    {% endeditable_text %}

    {% editable_text 'Subtitle over the big banner',  slug: "subtitle", format: "raw", rows: 2, priority: 2 %}
    {% endeditable_text %}

    {% editable_text 'Text on the call to action button', slug: "call_to_action_button", format: "raw", rows: 1, priority: 1 %}
    {% endeditable_text %}

    <!-- -------------------------------- -->

    <div class="row header-bg-image-row header-row">
      <div class="col-xs-12 text-center">

        {% assign header_photo_legend_for_alt = "alt: " | concat: page.editable_elements.content.header.header_photo_legend %}

        {% if header_photo_url != '' %}
          {{ header_photo_url | resize: '2500x>' | image_tag: header_photo_legend_for_alt }}
        {% else %}
          {{ 'chinese_great_wall.jpg' | theme_image_url | resize: '2500x>' | image_tag: header_photo_legend_for_alt }}
        {% endif %}

      </div>
    </div>

    <div class="row header-text-row header-row">
      <div class="table vertical-positionner-wrapper-table">
        <div class="table-cell vertical-positionner-wrapper-table-cell">
          <h1 class="text-center">{{ page.editable_elements.content.header.main_title }}</h1>
          <h2 class="text-center">{{ page.editable_elements.content.header.subtitle }}</h2>
          <p class="text-center">
            <a href="{% path_to news_index %}" class="btn btn-lg black-square-btn">
              {{ page.editable_elements.content.header.call_to_action_button }}
            </a>
          </p>
        </div>
      </div>
    </div>

    <!-- -------------------------------- -->

{% endblock %}



<!-- ---------------------------------------------------------------- -->

{% block content/featured_news %}

    <!-- --------------------------------------------- -->

  {% editable_text "Featured news section title", slug: "featured_news_section_title", format: "raw", rows: 1 %}
  {% endeditable_text %}


    <!-- --------------------------------------------- -->

  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-title">
        {{ page.editable_elements.content.featured_news.featured_news_section_title }}
      </h1>
    </div>
  </div>

    <!-- --------------------------- -->

  {% for news in contents.news %}
    {% if forloop.index > 2 %}
      {% break %}
    {% else %}

      <div class="react-card-boxes-hero-news hidden" data-read-more="{{ 'read_more' | translate }}" data-teaser='{{ news.teaser | escape }}' data-btn-target="{% path_to news %}" data-image-src="{{ news.featured_image.url | resize: '600x200#' }}" data-card-title="{{ news.title | escape }}">
      </div>

    {% endif %}
  {% endfor %}

    <!-- --------------------------- -->

  <div id="react-box-container-hero-news-target-element" class="row news" data-read-more="{{ 'read_more' | translate }}" data-col-class="col-xs-12 col-sm-6 col-md-6" data-clear-fix-classes-for-two-cards="visible-sm" data-clear-fix-classes-for-three-cards="hidden-sm hidden-xs">
  </div>

{% endblock %}





<!-- ---------------------------------------------------------------- -->

{% block content/older_news %}

    <!-- --------------------------------------------- -->

  {% editable_text "Older news section title", slug: "older_news_section_title", format: "raw", rows: 1 %}
  {% endeditable_text %}

    <!-- --------------------------------------------- -->

  <div class="row">
    <div class="col-xs-12">
      <h1 class="section-title">
        {{ page.editable_elements.content.older_news.older_news_section_title }}
      </h1>
    </div>
  </div>

    <!-- --------------------------- -->

  {% for news in contents.news %}
    {% if forloop.index > 2 and forloop.index < 9 %}

      <div class="react-card-box-older-news hidden" data-read-more="{{ 'read_more' | translate }}" data-teaser='{{ news.teaser | escape }}' data-btn-target="{% path_to news %}" data-image-src="{{ news.featured_image.url | resize: '400x200#' }}" data-card-title="{{ news.title | escape }}">
        </div>

    {% endif %}
  {% endfor %}

    <!-- --------------------------- -->

  <div id="react-box-container-older-news-target-element" class="row news" data-read-more="{{ 'read_more' | translate }}" data-col-class="col-xs-12 col-sm-6 col-md-4" data-clear-fix-classes-for-two-cards="visible-sm" data-clear-fix-classes-for-three-cards="hidden-sm hidden-xs">
  </div>

{% endblock %}





<!-- ---------------------------------------------------------------- -->

{% block content/test %}

  {% editable_text "First colum bottom section", slug: "first_column" %}
  {% endeditable_text %}
  {% editable_text "Second column bottom section", slug: "second_column" %}
  {% endeditable_text %}
  {% editable_text "Third column bottom section", slug: "third_column" %}
  {% endeditable_text %}


  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12">
      {{ page.editable_elements.content.test.first_column }}
    </div>
    <div class="col-lg-4 md-6 col-xs-12">
      {{ page.editable_elements.content.test.second_column }}
    </div>
    <div class="col-lg-4 md-6 col-xs-12">
      {{ page.editable_elements.content.test.third_column }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">


      {% block 'featured_photo' %}

        {% editable_text "Featured photo legend", slug: "legend", format: "raw", rows: 1, hint: "Text displayed below the photo and in the ALT attribute." %}
        {% endeditable_text %}

        {% capture featured_photo_url %}{% editable_file 'featured_photo' %}{% endeditable_file %}{% endcapture %}

        {% if featured_photo_url != '' %}
          {% assign photo = featured_photo_url %}
        {% else %}
          {% comment %}{% assign photo = '/samples/index/saint_petersburgh_ermitage.jpg' %}{% endcomment %}
          {% assign photo = 'saint_petersburgh_ermitage.jpg' | theme_image_url %}
        {% endif %}

        {% comment %} Including img_box.liquid React components (find it in snippets) {% endcomment %}
        {% include 'img_box' with legend: page.editable_elements.content.test.featured_photo.legend, photo: photo, size: "800x>" %}
      {% endblock %}

    </div>
  </div>

    <!-- -------------------------------- -->

<!-- ------------------------------------ -->

{% endblock %}
