---
title: News
listed: true
published: true
position: 1
handle: news_index
slug: news
meta_description: "News page of the website of the Centre for the Franco-russian and Franco-chinese friendships"
---
{% extends 'layouts/simple' %}

  {% block 'content/header' %}

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-left">{{ page.title | escape }}</h2>
      </div>
    </div>

  {% endblock %}

  {% block content/main %}
    {% editable_model news, hint: 'some text' %}

      {% for news in contents.news %}
        <div class="react-card-box hidden" data-read-more="{{ 'read_more' | translate }}" data-teaser='{{ news.teaser | escape }}' data-id="card_{% increment i %}" data-btn-target="{% path_to news %}" data-image-src="{{ news.featured_image.url | resize: '400x200#' }}" data-card-title="{{ news.title | escape }}">
        </div>
      {% endfor %}

      <div id="react-box-container-target-element" class="row news" data-read-more:"{{ 'read_more' | translate }}">
      </div>


    {% endeditable_model %}

  {% endblock %}
